$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic|Yanone+Kaffeesatz:300,400|Lato:300,400|Quicksand:400,700);

@font-face{
  font-family: AkkuratPro-Regular;
  src: url(../fonts/AkkuratPro-Regular.otf);
}

@font-face{
  font-family: Campton-ExtraBold;
  src: url(../fonts/Campton-ExtraBold.otf);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$basepurple: rgb(51,0,75);

/* Space out content a bit */
html, body {
  font-size: 13px;
  margin: 0;
  height: 100%;
  font-family: 'AkkuratPro-regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AkkuratPro-regular',  sans-serif;
  margin: 30px 0;
}

p {
  padding: 15px 0;
  font-size: 1.5rem;
}

h1 { font-size: 5rem; text-align: center; }
h2 { font-size: 4rem; text-align: center; }
h3 { font-size: 3rem; text-align: center; }
h4 { font-size: 2rem; text-align: center; }

.purple {
  color: lighten($basepurple, 8%);
  text-shadow: none;
}

a {
  color: $basepurple;

  &:hover {
    color: #FFC520;
    text-decoration: none;
  }

  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.top-fixed {
  position: fixed;
  z-index: 10;
}

nav {
  width: 55%;
  top: 30px;
  right: 30px;
  padding: 10px;
  color: white;
  background: rgba(51,0,75, 0.8);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;

  transition: all ease 0.5s;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: table-cell;
    width: 1%;
    font-size: 1.4rem;
    padding: 10px 0;
  }

  &:before {
    content: '';
    background-color: inherit;
    background-image: url(../images/NUVC-logo-new.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    box-shadow: inherit;
    position: fixed;
    right: 55%;
    right: calc(30px + 55%);
    top: 30px;
    height: 65px;
    width: 0;
    opacity: 0;
    transition: all ease 0.5s
              , width ease 0.2s 0.1s;
  }

  &.extend:before {
    top: 0;
    right: 55%;
    width: 45%;
    opacity: 1;
  }
}

.hamburger {
  opacity: 0;
  font-size: 0;
  position: fixed;
  top: 55px;
  right: 50px;
  z-index: 10;
}

#video-overlay {
  display: inline-table;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;

  display: none;

  z-index: 999999;

  #skip-video {
    color: lighten(black, 80%);
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    transition: color ease 0.2s;
    cursor: pointer;

    &:hover {
      color: inherit;
    }
  }

  .v-center {
    display: table-cell;
    vertical-align: middle;
  }

  video {
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
  }
}

div.front-images {
  margin-top: 12%;

  img {
    max-width: 150px;
    max-height: 150px;
    opacity: 0.7;
    -webkit-filter: grayscale(100%);
    margin-right: 7%;
  }
}

section.about {
  text-align: center;

  p:first-child {
    text-align: left;
  }

  div.table-div {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 1.5rem;
  }
}

img.corner-logo {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 2;
}

header {
  background: darken(#1b0232, 0.5%);
  background-size: cover;
  background-position: center center;
  height: 100%;
  padding: 20vh 25px;

  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.5),
               0 0 3px rgba(0,0,0,0.33);

  img.logo {
    @extend .img-responsive;
    margin: 0 auto;
    margin-top: 50px;
  }

  h3:nth-of-type(2) {
    margin-top: -25px;
  }

  h1 {
    margin-top: 120px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    a {
      color: white;
    }
  }

  h4 {
    margin-top: 0;
    position: relative;
    z-index: 1;
  }
}

.header-video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#apply-btn {
  appearance: none;
  border: none;
  background: white;
  padding: 20px 30px;
  color: $basepurple;
  font-family: Campton-ExtraBold;
  font-size: 3em;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  border-bottom: 5px solid darken(white, 25%);
  text-decoration: none;
  position: relative;
  z-index: 1;
  &:hover {
    color: #FFC520;
  }
}

@media all and (max-width: 1200px) {
  .contact {
    padding-bottom: 100px;
  }
}

@media all and (max-width: 900px) {
  .hamburger {
    opacity: 1;
    font-size: 25px !important;
    color: white;
    text-shadow: 0 1px 1px rgba(255,255,255,0.2);
    cursor: pointer;
  }

  nav {
    width: 100%;
    max-height: 0;
    top: 0;
    right: 0;
    overflow-y: hidden;
    padding: 0;

    position: absolute;
    z-index: 3;

    li {
      display: block;
      width: 100%;
    }

    &.open {
      max-height: 100%;
    }

    &.extend:before {
      display: none;
    }
  }
}

@media all and (max-width: 990px) {
  table.table {
    width: 100% !important;
  }

  .speaker-div {
    width: 90% !important;

    .speaker-info {
      width: 100%;
    }
  }

}

section {

  @extend .container-fluid;

  padding: 50px 0;

  &:nth-of-type(even) {
    background-color: $basepurple;
    color: white;
    a {
      color: white;
      &:hover {
        color: #FFC520;
      }
    }
  }

  ul {
    @extend .container;
    display: block;
    padding-left: 40px;
    font-size: 1.4rem;
  }

  h1,h2,h3,p {
    @extend .container;
  }

  &.schedule {
    background: url(../images/appprocessbg2.jpg) $basepurple;
    background-size: cover;
    background-position: center center;
    min-height: 668px;

    table {
      font-size: 150%;
      text-align: center;
      width: 50%;
    }

    div.track-list {
      @extend .container;

      ul {
        list-style-type: none;
        width: 27%;

        li {
          margin-top: 5px;
        }
      }
    }

    p.apply-online {
      text-align: center;
    }

    div.who-can-apply {
      p {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.2rem;
      }
    }

    div.speaker-div {
      overflow: auto;
      width: 60%;
      height: 300px;
      margin-bottom: 20px;

      img.paul {
        float: left;
        width: 205px;
        height: 300px;
      }

      img.dick {
        float: left;
        width: 250px;
        height: 300px;
      }

      div.speaker-info {
        margin-right: 50px;
        float: right;
        height: 100%;
        width: 50%;
        padding-top: 0px;

        p {
          width: 100%;
          margin-top: -25px;
          font-size: 150%;
        }
      }
    }
  }

  &.tracks {
    .track {
      @extend .container;
      h3 {
        @extend .col-xs-10;
        text-align: left;
        font-weight: 300;
      }
      i {
        @extend .col-xs-2;
        margin: 45px 0 0 0;
        font-size: 3.5rem;

        &.fa-leaf {
          color: #00b300;
        }

        &.fa-group {
          color: #3a3ac1;
        }

        &.fa-heart {
          color: #d63c3c;
        }

        &.fa-briefcase {
          color: #7c2020;
        }

        &.fa-flask {
          color: #ef9010;
        }
      }

    }

    ul {
      width: 100%;
      padding: 0;
      margin: 0 0 40px 0;
      display: block;
      list-style-type: none;

      li {
        font-size: 120%;
        padding: 0 15px;
        border-left: 1px solid black;
        display: inline-block;
      }

      li:first-child {
        border: none;
      }
    }

  }

  &.highlights {
    h3 {
      margin-top: 225px;
    }
    .past-winners {
      max-width: 1200px;
      margin: 0 auto;
    }
    .past-winner {
      display: inline-table;
            .v-center {
        display: table-cell;
        vertical-align: middle;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%
      }
    }

  }

  &.sponsors {
    .sponsor-logos {
      max-width: 1200px;
      margin: 0 auto;
    }

    .sponsor {
      height: 200px;
      display: inline-table;

      &.large {
        height: 300px;

        img {
          max-width: 500px;
          max-height: 300px;
        }
      }

      .v-center {
        display: table-cell;
        vertical-align: middle;
      }

    }
    img {
      display: block;
      max-width: 900px;
      margin: 0 auto;
    }
  }

  &.contact {
    background: white;

    #contact-form {
      @extend .container;

      input, textarea {
        font-size: 1.3rem;
      }

      textarea {
        padding: 15px;
      }

      input[type='button'] {
        background: $basepurple;
        border-radius: none;
        color: white;
        font-family: inherit;
        font-size: 2rem;
        height: auto;
        outline: none;
        border: none;
      }
    }
  }
}

.highlight {
  @extend .col-sm-4;
  text-align: center;
  padding: 5px;

  small {
    @extend .col-xs-12;
    font-size: 3rem;
    color: darken(white, 20%);
    text-shadow: none;
  }
}

.question h4 {
  margin: 10px auto;
  cursor: pointer;
  color: $basepurple;

  &:hover {
    text-decoration: underline;
  }
}

.question p {
  max-height: 0;
  opacity: 0;
  position: relative;
  z-index: -1;
  transition: all ease 0.5s;
}

.question p.active {
  max-height: 1000px;
  opacity: 1;
}

li.active a {
  color: #FFC520;
}

@media all and (max-width: 768px) {
  header {
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2.5rem; }
    div.front-images {
      display: none;
    }
  }

  section.schedule {
    table {
      width: 100% !important;
    }
  }

  .speaker-div {
    img {
      display: none;
    }
    div.speaker-info {
      width: 90% !important;
    }
  }

  section.sponsors {
    img {
      position: absolute;
      left: -150px;
    }
  }

  section.tracks {
    ul {
      margin-left: 0;
    }
  }
}

@media all and (max-width: 350px) {
  section.sponsors {
    img {
      position: absolute;
      left: -300px;
    }
  }
}
